version: '3'
services:
  collector:
    build: ./news_collector
    ports:
      - "5001:5000"
    environment:
      - SUMMARIZER_URL=http://summarizer:5000
      - NEWS_API_KEY=${NEWS_API_KEY}
    networks:
      - news-network
    
  summarizer:
    build: ./summarizer
    ports:
      - "5002:5000"
    environment:
      - SENTIMENT_URL=http://sentiment:5000
    networks:
      - news-network
    
  sentiment:
    build: ./sentiment_analyzer
    ports:
      - "5003:5000"
    networks:
      - news-network

networks:
  news-network:
    driver: bridge