version: '3'
services:
  collector:
    build:
      context: .
      dockerfile: news_collector/Dockerfile
    ports:
      - "5001:5000"
    environment:
      - SUMMARIZER_URL=http://summarizer:5000
      - NEWS_API_KEY=${NEWS_API_KEY}
    networks:
      - news-network
    
  summarizer:
    build:
      context: .
      dockerfile: summarizer/Dockerfile
    ports:
      - "5002:5000"
    environment:
      - SENTIMENT_URL=http://sentiment:5000
    networks:
      - news-network
    
  sentiment:
    build:
      context: .
      dockerfile: sentiment_analyzer/Dockerfile
    ports:
      - "5003:5000"
    networks:
      - news-network

networks:
  news-network:
    driver: bridge